server {
    listen 80;
    server_name easy-link.com;

    location / {
        root /path/to/vue/dist;
        index index.html;
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        proxy_pass http://localhost:8081/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /i/ {
        proxy_pass http://localhost:8081/i/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}